.column {
  display: flex;
  flex-direction: column;
  border-right: 2px solid red;
  padding: 0 10px;
  width: 250px;
}

.table-header {
  align-items: center;
  background-color: aliceblue;
  border: 1px solid #f4f6f7;
  border-radius: 4px;
  position: sticky;
}

.table-body {
  overflow-y: scroll;
  height: 100%;
  margin-top: 12px;
}

.table-body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-header > .content {
  display: flex;
  align-items: center;
}

.total {
  background-color: gray;
  padding: 0.5rem;
  margin-left: 20px;
}

.btm-brdr {
  height: 2px;
  border-radius: 0 0 4px 4px;
  width: 100%;
  background-color: darkcyan;
}
